[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=1.5"
boto3 = "~=1.26"
pygsheets = "~=2.0"

[dev-packages]
pre-commit = ">=3.0,<4"

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
